<form [formGroup]="apiKeyForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="apiKey">
      apiKey
    </label>
    <input class="apiKey" id="apiKey" type="text" formControlName="apiKey">
    <button class="btn" type="submit">Submit</button>
  </div>
</form>
<!--*ngIf="tokenValue"-->
<div class="offers">
  <h2>Welcome to the UTU SDK Demo</h2>
  <h3>Choose your provider:</h3>
  <x-utu-root source-uuid="user-1" target-type="provider">
    <ul>
      <li class="offer" *ngFor="let offer of OFFERS">
        <div>{{offer.name}}</div>
        <x-utu-recommendation attr.target-uuid="{{offer.id}}" style="margin-top:-20px"></x-utu-recommendation>
        <br/><br/><br/><br/>

        <x-utu-feedback-details-popup attr.target-uuid="{{offer.id}}">
        </x-utu-feedback-details-popup>

        <x-utu-feedback-form-popup source-uuid="user-1" attr.target-uuid="{{offer.id}}"
                                   [attr.transaction-id]="offer.id">
        </x-utu-feedback-form-popup>

      </li>
    </ul>
  </x-utu-root>
</div>

<!--<li class="offer" *ngFor="let offer of OFFERS">-->
<!--  <div>{{offer.name}}</div>-->
<!--  <x-utu-recommendation target-uuid="provider-2" ></x-utu-recommendation>-->
<!--  <br/><br/><br/><br/>-->

<!--  <x-utu-feedback-details-popup target-uuid="provider-2">-->
<!--  </x-utu-feedback-details-popup>-->

<!--  <x-utu-feedback-form-popup source-uuid="user-1" target-uuid="provider-2"-->
<!--                             transaction-id="provider-2">-->
<!--  </x-utu-feedback-form-popup>-->

<!--</li>-->



<!--<li class="offer" *ngFor="let offer of OFFERS">-->
<!--  <div>{{offer.name}}</div>-->
<!--  <x-utu-recommendation [attr.target-uuid]="offer.id" style="margin-top:-20px"></x-utu-recommendation>-->
<!--  <br/><br/><br/><br/>-->

<!--  <x-utu-feedback-details-popup [attr.target-uuid]="offer.id">-->
<!--  </x-utu-feedback-details-popup>-->

<!--  <x-utu-feedback-form-popup-->
<!--    [attr.transaction-id]="offer.id" source-uuid="user-1" [attr.target-uuid]="offer.id">-->
<!--  </x-utu-feedback-form-popup>-->

<!--</li>-->
