
input[type=text] {
  margin: 0 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 221, 51, 0.15);
  padding: 16px;
  border-left: 30px;
  width: 500px;
  font-weight: 300;
}

.offer {
  display: inline-block;
  padding: 10px;
}
